* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 2px 4px;
  list-style-type: none;
}

.flr {
  float: right;
  clear: both;
}

.clear {
  clear: both;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  padding: 20px;
}

.App-intro h1 {
  font-size: large;
}

/* allows for no scroll bar*/
.App-intro .chat-room {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 40vh;
  z-index: 100;
  overflow: hidden;
  border: 1px solid black;
}

/* allows for no scroll bar*/
.App-intro .chat-room .chat-room-no-scrollbar {
  padding-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -9px;
  overflow-y: scroll;
}

.App-intro .chat-room .user-name {
  font-weight: bold;
  font-style: italic;
}

.App-intro form {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.App-intro form input {
  width: 88%;
  padding: 5px;
}

.App-intro form button {
  min-width: 16%;
  /*max-width: 7%;*/
  padding: 5px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
